body {
  font-family: 'NanumSquare', sans-serif;
}

.logo {
  width: 145px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav_wrap {
  /* position: relative; */
  display: flex;
  /* width: 100%; */
  /* padding: 0 20px; */
  /* margin: 0 180px; */
  /* margin: 0 auto; */
}

.navbar_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu a {
  text-decoration: none;
  color: #333333;
}

.navbar_menu li {
  list-style: none;
  padding: 30px;
  font-size: 1.9rem;
  font-weight: 500;
}

.navbar_links {
  position: absolute;
  right: 30px;
  top: 5px;
  z-index: 1040;
}

.menu_top img {
  width: 24px;
  margin: 0 10px 0 0;
}

a.menu_top {
  font-size: 1.3rem;
  color: #8c6239;
}

a.menu_top:hover {
  color: #f05f40;
  text-decoration: none;
}

.navbar_links span {
  width: 1px;
  height: 10px;
  background-color: #8c6239;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}