body,html {
  font-family: 'NanumSquare', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo {
  width: 145px;
  margin-top: 10px;
}

.navbar_links {
  /* position: absolute;
  right: 30px;
  top: 5px;
  z-index: 1040; */
  text-align: right;
  margin-top: 8px;
  margin-right: 40px;
}

.menu_top img {
  width: 24px;
  margin: 0 10px 0 0;
}

a.menu_top {
  font-size: 1.3rem;
  color: #8c6239;
}

a.menu_top:hover {
  color: #f05f40;
  text-decoration: none;
}

.navbar_links span {
  width: 1px;
  height: 10px;
  background-color: #8c6239;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}

.navbar_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu li {
  list-style: none;
  padding: 30px;
  font-size: 1.9rem;
  font-weight: 700;
}

.navbar_menu a {
  text-decoration: none;
  color: #333333;
}

.navbar-default {
  background-color: #ffffff;
  border: 2px solid #e7e7e7;
}

.main_img {
  background-image: url(./img/main.png);
  width: 100vw;
  height: 470px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 130px;
}

.info {
  text-align: center;
  padding: 70px 0;
}

.info h4 {
  font-size: 3.3rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  letter-spacing: 0.1rem;
}

.info p {
  color: grey;
}

.info img {
  width: 90%;
  margin-top: 6rem;
}

.info .read_more {
  width: 60%;
  padding: 10px;
  font-size: 1.5rem;
  letter-spacing: 0rem;
  border: 1px solid #ddd;
  color: #6c757d;
  margin: 0 auto;
  font-weight: 600;
}

.info h3 {
  padding: 20px 0 20px 0;
}

.info h5 {
  color: #6c757d;
  margin-bottom: 35px;
}

.menu_food {
  background: url(./img/bg_menu.jpg);
  z-index: 3;
  height: 800px;
  text-align: center;
}

.menu_wrap {
  z-index: 5;
  /* margin-left: 50px; */
}

.menu_food h4 {
  font-size: 3.3rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 90px;
}

.menu_food p {
  font-size: 2rem;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 60px;
}

.menu_box1, .menu_box2,
.menu_box3, .menu_box4 {
  background-color: #ffffff;
  /* height: 373px; */
  z-index: 5;
  box-shadow: 0 5px 15px 0 #111;
  padding: 30px;
  padding-bottom: 0;
}

.menu_box1 {
  /* background: url(./img/menu1.png);
  background-position: center bottom;
  background-repeat: no-repeat; */
}

.menu_food h2 {
  font-size: 3rem;
  color: #8c6239;
  font-weight: 800;
}

.menu_food h5 {
  font-weight: 500;
  margin-bottom: 20px;
}

.menu_food a {
  background-color: #ccc;
  color: #ffffff;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1px 6px;
  text-decoration: none;
}

.menu_wrap img {
  width: 100%;
  margin-top: 80px;
}

.footer1 {
  background-color: #333333;
  margin-top: 200px;
  height: 60px;
}

.footer2 .col-md-2 img {
  width: 120px;
  opacity: 0.4;
}

.footer2 {
  background-color: #212529;
  padding: 30px 0;
}

.footer3, .footer4, .footer5 {
  font-size: 16px;
}

.footer3, .footer4 {
  color: #666666;
  padding-top: 7px;
}

.footer5 {
  color: #4c4c4c;
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .logo {
    width: 80px;
    margin: 5px 15px;
  }

  .navbar-default .navbar-toggle { 
    border-color: #ffffff;
    margin-top: 13px;
    margin-right: 5px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #4f555c;
    height: 3px;
  }

  .navbar-default .navbar-toggle:active,
  .navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
  }

  .container>.navbar-header:active, 
  .container>.navbar-header:hover,
  .navbar-default .navbar-collapse {
    background: #f8f4eb;
  }

  .navbar-default .navbar-toggle:active,
  .navbar-default .navbar-toggle:hover { 
    border-color: #f8f4eb;
    background: #f8f4eb;
  }

  .navbar_menu {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .navbar_menu a {
    color: #8c6239;
  }

  a.menu_top { 
    font-size: 1.5rem;
  }
  
  .navbar_menu li {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 20px;
  }

  .main_img {
    background-image: url(./img/main2.png);
    margin-top: 60px;
  }

  .main_mobile img {
    width: 100%;
  }

  .info p {
    font-size: 12px;
  }

  .menu_food {
    height: 920px;
    margin-bottom: 80px;
  }

  .menu_box1, .menu_box2,
  .menu_box3, .menu_box4 {
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  .menu_wrap img {
    margin-top: 20px;
  }

  .footer2 {
    text-align: center;
    padding: 10px 0;
  }
  
  .footer2 .col-md-2 img {
    width: 80px;
  }

  .footer3 {
    width: 345px;
    margin: 0 auto;
  }
 
  .footer3, .footer4 {
    font-size: 13px;
  }
  
  .footer5 {
    font-size: 11px;
    padding: 10px 0 15px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar_menu li {
    padding: 20px 10px 10px 10px;
  }

  .main_img {
    background-image: url(./img/main2.png);
    height: 930px;
    margin-top: 100px;
  }

  .navbar_links {
    margin-right: 20px;
  }

  .menu_food {
    height: 1020px;
  }

  .menu_wrap img {
    margin-top: 0;
  }

  .menu_box1, .menu_box2,
  .menu_box3, .menu_box4 {
    padding: 20px;
    max-height: 400px;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .footer1 {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1270px) {
  .navbar_menu li {
    padding: 20px;
  }

  .main_img {
    margin-top: 110px;
  }

  .menu_food {
    height: 700px;
  }

  .footer1 {
    margin-top: 100px;
  }
}
